<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>RealtekBluetoothFirmware</string>
	<key>CFBundleIdentifier</key>
	<string>org.thegwchr.RealtekBluetoothFirmware</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>RealtekBluetoothFirmware</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.2</string>
	<key>CFBundleVersion</key>
	<string>1.0.2</string>
	<key>OSBundleRequired</key>
	<string>Local-Root</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>RealtekBluetoothFirmware_0489_e085</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>1161</integer>
			<key>idProduct</key>
			<integer>57477</integer>
		</dict>
		<key>RealtekBluetoothFirmware_0489_e08b</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>1161</integer>
			<key>idProduct</key>
			<integer>57483</integer>
		</dict>
		<key>RealtekBluetoothFirmware_0489_e112</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>1161</integer>
			<key>idProduct</key>
			<integer>57618</integer>
		</dict>
		<key>RealtekBluetoothFirmware_0489_e122</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>1161</integer>
			<key>idProduct</key>
			<integer>57634</integer>
		</dict>
		<key>RealtekBluetoothFirmware_0489_e123</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>1161</integer>
			<key>idProduct</key>
			<integer>57635</integer>
		</dict>
		<key>RealtekBluetoothFirmware_0489_e125</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>1161</integer>
			<key>idProduct</key>
			<integer>57637</integer>
		</dict>
		<key>RealtekBluetoothFirmware_0489_e12f</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>1161</integer>
			<key>idProduct</key>
			<integer>57647</integer>
		</dict>
		<key>RealtekBluetoothFirmware_0489_e130</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>1161</integer>
			<key>idProduct</key>
			<integer>57648</integer>
		</dict>
		<key>RealtekBluetoothFirmware_04c5_161f</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>1221</integer>
			<key>idProduct</key>
			<integer>5663</integer>
		</dict>
		<key>RealtekBluetoothFirmware_04c5_165c</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>1221</integer>
			<key>idProduct</key>
			<integer>5724</integer>
		</dict>
		<key>RealtekBluetoothFirmware_04c5_1675</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>1221</integer>
			<key>idProduct</key>
			<integer>5749</integer>
		</dict>
		<key>RealtekBluetoothFirmware_04ca_4005</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>1226</integer>
			<key>idProduct</key>
			<integer>16389</integer>
		</dict>
		<key>RealtekBluetoothFirmware_04ca_4006</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>1226</integer>
			<key>idProduct</key>
			<integer>16390</integer>
		</dict>
		<key>RealtekBluetoothFirmware_04ca_4007</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>1226</integer>
			<key>idProduct</key>
			<integer>16391</integer>
		</dict>
		<key>RealtekBluetoothFirmware_04f2_b49f</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>1266</integer>
			<key>idProduct</key>
			<integer>46239</integer>
		</dict>
		<key>RealtekBluetoothFirmware_0930_021d</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>2352</integer>
			<key>idProduct</key>
			<integer>541</integer>
		</dict>
		<key>RealtekBluetoothFirmware_0b05_17dc</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>2821</integer>
			<key>idProduct</key>
			<integer>6108</integer>
		</dict>
		<key>RealtekBluetoothFirmware_0b05_185c</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>2821</integer>
			<key>idProduct</key>
			<integer>6236</integer>
		</dict>
		<key>RealtekBluetoothFirmware_0b05_18ef</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>2821</integer>
			<key>idProduct</key>
			<integer>6383</integer>
		</dict>
		<key>RealtekBluetoothFirmware_0b05_190e</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>2821</integer>
			<key>idProduct</key>
			<integer>6414</integer>
		</dict>
		<key>RealtekBluetoothFirmware_0bda_2852</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>3034</integer>
			<key>idProduct</key>
			<integer>10322</integer>
		</dict>
		<key>RealtekBluetoothFirmware_0bda_385a</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>3034</integer>
			<key>idProduct</key>
			<integer>14426</integer>
		</dict>
		<key>RealtekBluetoothFirmware_0bda_4852</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>3034</integer>
			<key>idProduct</key>
			<integer>18514</integer>
		</dict>
		<key>RealtekBluetoothFirmware_0bda_4853</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>3034</integer>
			<key>idProduct</key>
			<integer>18515</integer>
		</dict>
		<key>RealtekBluetoothFirmware_0bda_8520</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>3034</integer>
			<key>idProduct</key>
			<integer>34080</integer>
		</dict>
		<key>RealtekBluetoothFirmware_0bda_8771</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>3034</integer>
			<key>idProduct</key>
			<integer>34673</integer>
		</dict>
		<key>RealtekBluetoothFirmware_0bda_887b</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>3034</integer>
			<key>idProduct</key>
			<integer>34939</integer>
		</dict>
		<key>RealtekBluetoothFirmware_0bda_8922</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>3034</integer>
			<key>idProduct</key>
			<integer>35106</integer>
		</dict>
		<key>RealtekBluetoothFirmware_0bda_b009</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>3034</integer>
			<key>idProduct</key>
			<integer>45065</integer>
		</dict>
		<key>RealtekBluetoothFirmware_0bda_b00c</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>3034</integer>
			<key>idProduct</key>
			<integer>45068</integer>
		</dict>
		<key>RealtekBluetoothFirmware_0bda_b850</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>3034</integer>
			<key>idProduct</key>
			<integer>47184</integer>
		</dict>
		<key>RealtekBluetoothFirmware_0bda_b85b</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>3034</integer>
			<key>idProduct</key>
			<integer>47195</integer>
		</dict>
		<key>RealtekBluetoothFirmware_0bda_c123</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>3034</integer>
			<key>idProduct</key>
			<integer>49443</integer>
		</dict>
		<key>RealtekBluetoothFirmware_0bda_c822</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>3034</integer>
			<key>idProduct</key>
			<integer>51234</integer>
		</dict>
		<key>RealtekBluetoothFirmware_0bda_c852</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>3034</integer>
			<key>idProduct</key>
			<integer>51282</integer>
		</dict>
		<key>RealtekBluetoothFirmware_0cb5_c547</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>3253</integer>
			<key>idProduct</key>
			<integer>50503</integer>
		</dict>
		<key>RealtekBluetoothFirmware_0cb8_c549</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>3256</integer>
			<key>idProduct</key>
			<integer>50505</integer>
		</dict>
		<key>RealtekBluetoothFirmware_0cb8_c558</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>3256</integer>
			<key>idProduct</key>
			<integer>50520</integer>
		</dict>
		<key>RealtekBluetoothFirmware_0cb8_c559</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>3256</integer>
			<key>idProduct</key>
			<integer>50521</integer>
		</dict>
		<key>RealtekBluetoothFirmware_1358_c123</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>4952</integer>
			<key>idProduct</key>
			<integer>49443</integer>
		</dict>
		<key>RealtekBluetoothFirmware_13d3_3394</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>5075</integer>
			<key>idProduct</key>
			<integer>13204</integer>
		</dict>
		<key>RealtekBluetoothFirmware_13d3_3410</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>5075</integer>
			<key>idProduct</key>
			<integer>13328</integer>
		</dict>
		<key>RealtekBluetoothFirmware_13d3_3414</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>5075</integer>
			<key>idProduct</key>
			<integer>13332</integer>
		</dict>
		<key>RealtekBluetoothFirmware_13d3_3416</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>5075</integer>
			<key>idProduct</key>
			<integer>13334</integer>
		</dict>
		<key>RealtekBluetoothFirmware_13d3_3458</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>5075</integer>
			<key>idProduct</key>
			<integer>13400</integer>
		</dict>
		<key>RealtekBluetoothFirmware_13d3_3459</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>5075</integer>
			<key>idProduct</key>
			<integer>13401</integer>
		</dict>
		<key>RealtekBluetoothFirmware_13d3_3461</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>5075</integer>
			<key>idProduct</key>
			<integer>13409</integer>
		</dict>
		<key>RealtekBluetoothFirmware_13d3_3462</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>5075</integer>
			<key>idProduct</key>
			<integer>13410</integer>
		</dict>
		<key>RealtekBluetoothFirmware_13d3_3494</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>5075</integer>
			<key>idProduct</key>
			<integer>13460</integer>
		</dict>
		<key>RealtekBluetoothFirmware_13d3_3526</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>5075</integer>
			<key>idProduct</key>
			<integer>13606</integer>
		</dict>
		<key>RealtekBluetoothFirmware_13d3_3529</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>5075</integer>
			<key>idProduct</key>
			<integer>13609</integer>
		</dict>
		<key>RealtekBluetoothFirmware_13d3_3533</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>5075</integer>
			<key>idProduct</key>
			<integer>13619</integer>
		</dict>
		<key>RealtekBluetoothFirmware_13d3_3548</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>5075</integer>
			<key>idProduct</key>
			<integer>13640</integer>
		</dict>
		<key>RealtekBluetoothFirmware_13d3_3549</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>5075</integer>
			<key>idProduct</key>
			<integer>13641</integer>
		</dict>
		<key>RealtekBluetoothFirmware_13d3_3553</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>5075</integer>
			<key>idProduct</key>
			<integer>13651</integer>
		</dict>
		<key>RealtekBluetoothFirmware_13d3_3555</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>5075</integer>
			<key>idProduct</key>
			<integer>13653</integer>
		</dict>
		<key>RealtekBluetoothFirmware_13d3_3570</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>5075</integer>
			<key>idProduct</key>
			<integer>13680</integer>
		</dict>
		<key>RealtekBluetoothFirmware_13d3_3571</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>5075</integer>
			<key>idProduct</key>
			<integer>13681</integer>
		</dict>
		<key>RealtekBluetoothFirmware_13d3_3572</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>5075</integer>
			<key>idProduct</key>
			<integer>13682</integer>
		</dict>
		<key>RealtekBluetoothFirmware_13d3_3586</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>5075</integer>
			<key>idProduct</key>
			<integer>13702</integer>
		</dict>
		<key>RealtekBluetoothFirmware_13d3_3587</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>5075</integer>
			<key>idProduct</key>
			<integer>13703</integer>
		</dict>
		<key>RealtekBluetoothFirmware_13d3_3591</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>5075</integer>
			<key>idProduct</key>
			<integer>13713</integer>
		</dict>
		<key>RealtekBluetoothFirmware_13d3_3592</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>5075</integer>
			<key>idProduct</key>
			<integer>13714</integer>
		</dict>
		<key>RealtekBluetoothFirmware_13d3_3600</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>5075</integer>
			<key>idProduct</key>
			<integer>13824</integer>
		</dict>
		<key>RealtekBluetoothFirmware_13d3_3601</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>5075</integer>
			<key>idProduct</key>
			<integer>13825</integer>
		</dict>
		<key>RealtekBluetoothFirmware_13d3_3612</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>5075</integer>
			<key>idProduct</key>
			<integer>13842</integer>
		</dict>
		<key>RealtekBluetoothFirmware_13d3_3616</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>5075</integer>
			<key>idProduct</key>
			<integer>13846</integer>
		</dict>
		<key>RealtekBluetoothFirmware_13d3_3617</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>5075</integer>
			<key>idProduct</key>
			<integer>13847</integer>
		</dict>
		<key>RealtekBluetoothFirmware_13d3_3618</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>5075</integer>
			<key>idProduct</key>
			<integer>13848</integer>
		</dict>
		<key>RealtekBluetoothFirmware_13d3_3619</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>5075</integer>
			<key>idProduct</key>
			<integer>13849</integer>
		</dict>
		<key>RealtekBluetoothFirmware_2001_332a</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>8193</integer>
			<key>idProduct</key>
			<integer>13098</integer>
		</dict>
		<key>RealtekBluetoothFirmware_2357_0604</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>9047</integer>
			<key>idProduct</key>
			<integer>1540</integer>
		</dict>
		<key>RealtekBluetoothFirmware_2550_8761</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>9552</integer>
			<key>idProduct</key>
			<integer>34657</integer>
		</dict>
		<key>RealtekBluetoothFirmware_2b89_6275</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>11145</integer>
			<key>idProduct</key>
			<integer>25205</integer>
		</dict>
		<key>RealtekBluetoothFirmware_2b89_8761</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>11145</integer>
			<key>idProduct</key>
			<integer>34657</integer>
		</dict>
		<key>RealtekBluetoothFirmware_2c0a_8761</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>11274</integer>
			<key>idProduct</key>
			<integer>34657</integer>
		</dict>
		<key>RealtekBluetoothFirmware_2ff8_3051</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>12280</integer>
			<key>idProduct</key>
			<integer>12369</integer>
		</dict>
		<key>RealtekBluetoothFirmware_2ff8_b011</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>12280</integer>
			<key>idProduct</key>
			<integer>45073</integer>
		</dict>
		<key>RealtekBluetoothFirmware_3625_010b</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>13861</integer>
			<key>idProduct</key>
			<integer>267</integer>
		</dict>
		<key>RealtekBluetoothFirmware_6655_8771</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>26197</integer>
			<key>idProduct</key>
			<integer>34673</integer>
		</dict>
		<key>RealtekBluetoothFirmware_7392_a611</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>29586</integer>
			<key>idProduct</key>
			<integer>42513</integer>
		</dict>
		<key>RealtekBluetoothFirmware_7392_c611</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>29586</integer>
			<key>idProduct</key>
			<integer>50705</integer>
		</dict>
		<key>RealtekBluetoothFirmware_7392_e611</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.thegwchr.RealtekBluetoothFirmware</string>
			<key>IOClass</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOMatchCategory</key>
			<string>RealtekBluetoothFirmware</string>
			<key>IOProbeScore</key>
			<integer>4000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idVendor</key>
			<integer>29586</integer>
			<key>idProduct</key>
			<integer>58897</integer>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 thegwchr. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOUSBHostFamily</key>
		<string>1.2</string>
		<key>com.apple.kpi.iokit</key>
		<string>16.7</string>
		<key>com.apple.kpi.libkern</key>
		<string>16.7</string>
		<key>com.apple.kpi.mach</key>
		<string>16.7</string>
	</dict>
</dict>
</plist>
